<div class="container-fluid mb-4">
  <div class="text-right">
    <button class="btn btn-info" data-toggle="modal" data-target="#myModal" type="button">+</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <th scope="col">id</th>
    <th scope="col">domain_id</th>
    <th scope="col">change_date</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    <th scope="col">Manage</th>
    <th scope="col">Download</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of groupList; let i = index;">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.count}}</td>
      <td>
        <button class="btn btn-success" type="button" value="i" (click)="editGroup(i)">Edit</button>
      </td>
      <td>
        <button class="btn btn-success" type="button" value="i" (click)="deleteGroup(i)">Delete</button>
      </td>
      <td>
          <button class="btn btn-success" type="button" value="i" (click)="download(i)">Download</button>
        </td>
      <td>
        <!-- <button class="btn btn-success" type="button" value="i" (click)="deleteGroup(i)"> -->
        <a class="nav-link" [routerLink]="['contacts', i]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Manage</a>
        <!-- </button> -->
      </td>
    </tr>
  </tbody>
</table>



<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="">
          <!-- <form [formGroup]="addGroupForm" (ngSubmit)="formSubmit(addGroupForm.value)">
            <input type="text" name="name" formControlName="name" />
          </form> -->
          <form [formGroup]="addGroupForm" (ngSubmit)="formSubmit(addGroupForm.value)">
            <div class="from-group">
              <label for="name" class="col-form-label">Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="name" formControlName="name" />
            </div>
            <div class="text-center mt-4">
              <button type="submit" [disabled]="!addGroupForm.valid" class="button-blue btn btn-primary mr-2">Save</button>
              <!-- <button class="button-liteblue btn btn-primary">No Thanks</button> -->
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>