<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand float-right" [routerLink]="'/'">
        CLOUDSOLZ
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto ">
    <li class="nav-item">
      <a class="nav-link float-right text-white" href="#">
        Logout
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 leftmenu">
      <nav class="nav flex-column">
        <a class="nav-link " [routerLink]="'/messages'" routerLinkActivate="'active'">Dashboard</a>
        <a class="nav-link" [routerLink]="'/messages'" routerLinkActivate="'active'">Messages </a>
        <!-- <a class="nav-link" [routerLink]="'/sign'" routerLinkActivate="'active'">Signup </a>
        <a class="nav-link disabled" [routerLink]="'/login'" routerLinkActivate="'active'">Login </a> -->
      </nav>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>