<div class="container-fluid mb-4">
  <div class="text-left">
    <a [routerLink]="['/messages/groups']"> back</a>
  </div>
  <div class="text-right">
    <button class="btn btn-info" data-toggle="modal" data-target="#myModal" type="button">+</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <th scope="col">contactid</th>
    <th scope="col">number</th>
    <th scope="col">name</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    <th scope="col">Manage</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of contactList; let i = index;">
      <td>{{item.contactid}}</td>
      <td>{{item.name}}</td>
      <td>{{item.number}}</td>
      <td>
        <button class="btn btn-success" data-toggle="modal" data-target="#myEditModal" type="button" value="i" (click)="edit(i)">Edit</button>
      </td>
      <td>
        <button class="btn btn-success"  type="button" value="i" (click)="delete(i)">Delete</button>
      </td>
      <td>
        <a class="nav-link" [routerLink]="['contacts', i]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Manage</a>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="">
          <form [formGroup]="addForm" (ngSubmit)="formSubmit(addForm.value)">
            <div class="from-group">
              <label for="name" class="col-form-label">Name</label>
              <input type="text" class="form-control" name="name" formControlName="name" />
            </div>
            <input type="hidden" class="form-control" name="group" formControlName="group" />
            <div class="from-group">
              <label for="mob_no" class="col-form-label">Mobile</label>
              <input type="number" class="form-control" name="mob_no" formControlName="mob_no" />
            </div>
            <div class="text-center mt-4">
              <button type="submit" [disabled]="!addForm.valid" class="button-blue btn btn-primary mr-2">Save</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="">
            <form [formGroup]="editForm" (ngSubmit)="formEditSubmit(editForm.value)">
              <div class="from-group">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name" />
              </div>
              <input type="hidden" class="form-control" name="group" formControlName="group" />
              <input type="hidden" class="form-control" name="contact_id" formControlName="contact_id" />
              <div class="from-group">
                <label for="mob_no" class="col-form-label">Mobile</label>
                <input type="number" class="form-control" name="mob_no" formControlName="mob_no" />
              </div>
              <div class="text-center mt-4">
                <button type="submit" [disabled]="!editForm.valid" class="button-blue btn btn-primary mr-2">Save</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>