<div class="message-wrapper">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav justify-content-center ">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'sendmessage'">Send Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="'campagins'">Campagins</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Phone Book
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="'groups'" routerLinkActive="active">Groups</a>
            <!-- <a class="dropdown-item" [routerLink]="'contacts'" routerLinkActive="active">Contacts</a> -->
          </div>
        </li>
      </ul>
      <!-- <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'groups'">GROUPS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contacts'">CONTACTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'sendmessage'">SEND MESSAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="'campagins'">CAMPAGINS</a>
        </li>
      </ul> -->
    </div>
    <div class="col-md-12">
      <div class="inner-msg-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>