<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/signup'">SINGUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/login'">LOGIN</a>
        </li>
        
    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                    <a class="nav-link" [routerLink]="'/messages'">Messages</a>
                </li>
    </ul>
       
    
</nav>

<router-outlet></router-outlet>