<div>
  <form [formGroup]="sendsms" (ngSubmit)="smsFormSubmit(sendsms.value)">
    <div class="form-group" formGroupName="sendsms1">
      <input type="text" class="form-control" formControlName="sender" />
    </div>
    <div class="form-group" formGroupName="sendsms1">
      <input type="text" class="form-control" formControlName="route" />
    </div>
    <div class="form-group" formGroupName="sendsms1">
      <input type="text" class="form-control" formControlName="country" />
    </div>
    <div class="form-group" formGroupName="sendsms1">
      <input type="text" class="form-control" formControlName="message" />
    </div>
    <div class="form-group" formGroupName="sendsms1">
      <input type="text" class="form-control" formControlName="mobiles" />
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!sendsms.value"> save</button>
    </div>
  </form>
</div>


<!-- <div>
  <form class="" [formGroup]="myform" (ngSubmit)="myformSubmit(myform.value)">
    <div class="form-group" formGroupName ="group1">
      <input type="text" class="form-control" formControlName="name">
      <input type="text" class="form-control" formControlName="mobile">
    </div>
    <div class="form-group" formGroupName="group2">
      <input type="text" class="form-control" formControlName="address" />
      <input type="text" class="form-control" formControlName="address2" />
      <input type="text" class="form-control" formControlName="zip" />
      <input type="text" class="form-control" formControlName="city" />
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!myform.valid">submit</button>
    </div>
  </form>

</div> -->