<div class="container-fluid d-flex justify-content-center align-items-center login-wrapper">
  <div class="col-md-4">
    <h2>Signup Form</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">First Name</label>
        <input type="email" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</div>