/* You can add global styles to this file, and also import other style files */
.login-wrapper{
    height: 93vh;
    background-color: whitesmoke;
}

.leftmenu {
    background-color: aliceblue;
    height: 92.5vh;
}

.message-wrapper{
    height: 92vh;
    overflow-x: hidden;
}

.inner-msg-wrapper{
    height: 75vh;
    overflow-y: scroll;
}